@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 0.2rem;
  margin: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  color: #333;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 40rem;
  margin: 0 auto;
  width: 90%;
  align-items: center;
  border: 2px #333 solid;
  padding: 10px;
}

button {
  background: #192061;
  color: #fff;
  letter-spacing: 1px;
  padding: 0.4rem;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

.nav-ul {
  display: flex;
  padding: 0;
  margin: 0;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 32rem;
}

.contact > p {
  align-self: flex-start;
  padding: 0;
  margin: 0;
}

.book-container {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.list-item {
  padding: 0.2rem;
  margin: 0;
  cursor: pointer;
}

.list-item:hover {
  color: #faefef;
}

li {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 1rem;
}

.contact-details {
  list-style: circle;
  margin-top: 2rem;
}

span {
  display: block;
}

input {
  padding: 0.3rem;
  border-radius: 0.25rem;
  width: 100%;
  border: 0.125rem rgb(36, 24, 24) solid;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {
  background-color: lightgray;
}

.all-books,
.add-book {
  display: block;
  width: 90%;
  max-width: 32rem;
}

.list-books {
  border: 0.125rem solid #333;
  border-radius: 0.25rem;
  max-width: 32rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.title-list-books,
.title-form-add,
.title-contact {
  text-align: center;
  color: #761bcc;
}

.form-input {
  margin: 0 auto;
  max-width: 26rem;
  box-sizing: border-box;
}

.title-contact {
  margin-bottom: 3rem;
}

footer {
  display: flex;
  align-self: flex-end;
  border: 2px #333 solid;
  padding: 10px;
  max-width: 40rem;
  margin: 0 auto;
  width: 90%;
}

.hidden {
  display: none;
}
